body {
  background-color: #333;
  color: #fff;
}

.App {
  text-align: center;
  width: 50%;
}

.taskBg {
  background-color: #555;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.taskNumber {
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskBg .taskName {
  flex: 1;
  margin-left: 10px;
  font-size: 18px;
}

.taskBg .completed .taskName {
  text-decoration: line-through;
  opacity: 0.3;
}

.taskControls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
  font-size: 15px;
}

.taskControls span {
  display: inline-flex;
  margin: 0px 5px;
  color: aquamarine;
}

.taskControls span:hover {
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}

.formControls {
  font-size: smaller;
  color: #fff;
}